[tasks.build]
run = "gcc stiff.c -o stiff `pkg-config --cflags --libs xcb` -O3 -Wextra -Wall"

[tasks.run]
depends = ["build"]
run = "./stiff"

[tasks.install]
depends = ["build"]
run = "sudo cp ./stiff /usr/local/bin/stiff"
